.git
target/
data/
node_modules/
swap-sidecar/node_modules/
*.sqlite
*.mnemonic
*.key
.env
deploy/.env
vendor/*
!vendor/breez-sdk/
vendor/breez-sdk/.git
vendor/breez-sdk/target/
.regtest/

!vendor/spark/
vendor/spark/*
!vendor/spark/signer/
!vendor/spark/protos/
